.newnote {
  background-color: #67d7cc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note .new {
  background-color: #67d7cc;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newnote textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

.newnote textarea:focus {
  outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.colors {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.2s;
}

.colors:hover {
  border: 1px solid rgb(125, 125, 125);
}